<div class="wrapper page-forms">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs custom-edit-form">
            <h2class="text-center">Forgot your password?</h2>
            <%= f.input :email, required: true, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions", class: "btn-proposal center-block btn-registration" %>
          </div>
        <% end %>

        <div class="form-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
</style>
