<h1>Sign Up</h1>

    <!-- need verify guest mail and not display it in form -->
<%= simple_form_for current_or_guest_user, url: create_password_path do |f| %>
  <%= f.input :email, required: true, input_html: {value: guest_email} %>
  <%= f.input :first_name, label: "Name", required: true, autofocus: true, input_html: {value: guest_first_name}  %>
  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
  <%= f.input :password_confirmation, required: true, error: 'Passwords must match' %>
  <%= f.submit "Sign Up" %>
<% end %>
