<%= simple_form_for([choogle, proposal], remote: true) do |f| %>
  <div id="proposal-errors"></div>

  <!-- If it's a guest session, ask for his name -->
  <% unless user_signed_in? %>
    <%= f.simple_fields_for :user do |h| %>
      <%= h.input :first_name, label: "Let your friends know who you are", input_html: {id: 'sign_up_code', value: current_or_guest_user.first_name } %>
    <% end %>
  <% end %>
  <%= f.input :place, label: "Add a new place" %>
  <%= f.association :tags, class: 'tag-selector', collection: current_or_guest_user.tags, label: "Add tags to this place (max 20 char)" %>
  <%= f.button :submit, value: "Add a new place", class: 'btn btn-choogle btn-proposal-margin' %>
<% end %>

<script>
  $("#proposal_tag_ids").select2(
    {
      tags: true,
      theme: "bootstrap",
      maximumInputLength: 20,
      placeholder: "Select or create your own tags."
    }
  );

  $("#proposal_tag_ids").on('select2:select', function(event) {
    var tagName = event.params.data.text;
    $tag = $('.select2-container').find('[title="' + tagName + '"]');

    $.ajax({
      url: '/tag_color?tag=' + tagName,
      method: "get",
      success: function(data) {
        $tag.css('background-color', data.color);
      }
    });

  });
</script>
