<%= simple_form_for([choogle, proposal], remote: true, html: { class: "form-proposal"}) do |f| %>
  <div id="proposal-errors"></div>

  <!-- If it's a guest session, ask for his name -->
  <% unless user_signed_in? || current_or_guest_user.first_name != 'guest' %>
    <%= f.simple_fields_for :user do |h| %>
      <%= h.input :first_name,
      label: false,
      placeholder: "Your name",
      input_html: {id: 'sign_up_code',
      value: nil } %>
    <% end %>
  <% end %>
  <%= f.input :place, label: false, placeholder: "Search a place", error: "Please add a place"%>
  <%= f.association :tags, class: 'tag-selector', collection: current_or_guest_user.tags, label: "Describe this place with your own words" %>
  <%= f.button :submit, value: "Add a place", class: 'btn btn-choogle btn-proposal-margin' %>
<% end %>
<div class="loader"></div>


<script>
  $("#proposal_tag_ids").select2(
    {
      tags: true,
      theme: "bootstrap",
      maximumInputLength: 20,
      placeholder: "cheap, outdoor, tapas, point of view..."
    }
  );
  // This function is used to append the stylesheet with the right name and color
  // getted from ajax request. The goal is to generate and display the colors during the tag selection/creation
  function writeStyles(styleName, cssText) {
    var styleElement = document.createElement('style');
    styleElement.type = 'text/css';
    styleElement.id = styleName;
    styleElement.innerHTML = cssText;
    document.getElementsByTagName('head')[0].appendChild(styleElement);
  }

  $("#proposal_tag_ids").on('select2:select', function(event) {
    var tagName = event.params.data.text;
    $tag = $('.select2-container').find('[title="' + tagName + '"]');

    $.ajax({
      url: '/tag_color?tag=' + tagName,
      method: "get",
      success: function(data) {
        // $tag.css('background-color', data.color);
        tagColor = data.color;
        // Construct the CSS
        cssText = $tag.selector + ' { background-color: ' + data.color + '!important; }';
        // Append with the writeStyles function
        writeStyles('styles_js', cssText);
      }
    });
  });

  $(".form-proposal").submit(function() {
      $(".loader").show();
      $(this).find(".btn").hide();
      return true;
  });
</script>
