<div class="wrapper-result">
  <div class="container">

      <div class="choogle-result">
       <h1><%= @choogle.title %></h1>
       <p>on <%= @choogle.happens_at.strftime("%A, %b %d at %l:%M %p") %></p>
       <p>proposed by <%= @choogle.user.first_name %></p>
      </div>
      <div class="result-map">
        <div id="map"></div>
      </div>
      <%= render "shared/map" %>
      <div class="result-content">
          <div class="result-info">
            <h2><%= @choogle.proposals.most_upvoted.place.name %></h2>
            <p>suggested by <%= @choogle.proposals.most_upvoted.user.first_name %></p>
            <h4><%= @choogle.proposals.most_upvoted.place.address %></h4>
            <div class="place-rating">
              <% unless @choogle.proposals.most_upvoted.place.rating.nil? %>
                <% @choogle.proposals.most_upvoted.place.rating_round.times do  %>
                  <i class ="fa fa-star" id="star-rating-good" aria-hidden="true"></i>
                <% end %>
                <% (5 - @choogle.proposals.most_upvoted.place.rating_round).times do  %>
                  <i class ="fa fa-star" id="star-rating-bad" aria-hidden="true"></i>
                <% end %>
                  ∙ <%= @choogle.proposals.most_upvoted.place.rating %>
              <% end %>
            </div>
          </div>
          <div class="result-tags">
            <!-- tags of the proposal -->
            <div class="tag">
              <% if @choogle.proposals.most_upvoted.tags.any? %>
                <% @choogle.proposals.most_upvoted.tags.each do |tag| %>
                <h5 class="tags" style="background-color: <%= tag.color_hex %>"><%= tag.name %></h5>
                <% end %>
              <% end %>
            </div>
            <!-- <p> tags tags tags tags tags tags tags tags tags tags tags tagstags tags tags tags tags tags</p> -->
          </div>
      </div>

  </div>
</div>


<%= content_for(:after_js) do %>
  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).attr('placeholder')).select();
      document.execCommand("copy");
      $temp.remove();
    }
    function clipboardNotice() {
      // remove class hide
      $('#clipboard-notice').removeClass('hide');
    }
  </script>
  <% end %>
