<!-- This is for the title -->
<% content_for(:choogle_tag) do %>
  <%= @choogle.title %> | Choogle
<% end %>

<div class="alert alert-info alert-dismissible hide" id="clipboard-notice">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Copied to clipboard
</div>

<div class="wrapper">
  <div class="container">

    <div class="event">
      <div class="event-infos">
        <h1><%= @choogle.title %></h1>
        <p>on <%= @choogle.happens_at.strftime("%A, %b %d at %l:%M %p") %></p>
        <p>proposed by <%= @choogle.user.first_name %></p>
      </div>
    </div>

    <div class="choogle-infos">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="choogle-infos-timer">
              <p>Time left to vote</p>
              <div id="timer" data-timer="<%= (@choogle.due_at) %>">
                <%= render "choogles/timer"  %>
                  <div id="clockdiv">
                    <div>
                      <span class="days"></span>
                      <div class="smalltext">Days</div>
                    </div>
                    <div class="timer-hour">
                      <span class="hours"></span>
                      <div class="smalltext">Hours</div>
                    </div>
                    <div class="timer-minute">
                      <span class="minutes"></span>
                      <div class="smalltext">Minutes</div>
                    </div>
                    <div>
                      <span class="seconds"></span>
                      <div class="smalltext">Seconds</div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="choogle-infos-link">
              <div class="invite-link">
                <p>Invite your friends with this link</p>
                <div class="input-group">
                  <input id='link' type="text" class="input-choogle" placeholder="http://choogle.xyz/<%= @choogle.slug %>" readonly="readonly">
                  <button class="btn btn-choogle-secondary" type="button" onclick="copyToClipboard('#link'); clipboardNotice()">Copy link</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-proposals">

      <div class="proposals">

        <!-- All Proposals -->
        <div id="mixcontainer">
          <%= render "choogles/proposals" %>
        </div>

        <!-- Empty Proposal add a new one -->
        <div class="add-a-place">
          <%= link_to "Add a new place", new_choogle_proposal_path(@choogle), remote: true, class: "btn btn-proposal" %>
          <%= render "proposals/modal" %>
        </div>

      </div>

      <div class="map-container hidden-xs">
        <div id="map"></div>
      </div>
      <%= render "shared/map" %>
    </div>

    <!-- Comments -->
    <div id="chatroom">
      <div id="comments">
        <ul class="media-list">
          <li class="media-comment">
             <%= image_tag('chooglebot.png', class: "avatar") %>
            <div class="media-body">
              <p class="media-heading">ChoogleBot
              <div class='text-area'>Welcome to the ChoogleChat, human! Talk to your friends now 🚀 </div>
              <small class="text-muted"> <%= Time.now.strftime("%^a %H:%M %p") %></small></p>
            </div>
          </li>
          <%= render @comments %>
        </ul>
        <%= render 'comments/form' %>
      </div>
    </div>

    <!-- New notification input -->
    <div class="notification">
      <div class="notification-content">
        <p>Enter your email to be notify when the timer is done</p>
          <div class="input-group">
            <%= simple_form_for [@choogle, @notification], html: { class: "input-group" } do |f| %>
              <%= f.error_notification %>

              <%= f.simple_fields_for :user do |h| %>
                <%= h.input :email, label: false, input_html: { class: 'input-choogle' } %>
              <% end %>
              <%= f.button :submit, class: 'btn btn-choogle-secondary', value: "Notify me" %>
            <% end %>
          </div>
      </div>

    </div>

  </div>
</div>

<!-- New Notification Modal (not used yet) -->
<div class="modal fade" id="notification-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= render "notifications/form" %>
      </div>
    </div>
  </div>
</div>

<div class="trigger-user hidden" data-id="<%= current_or_guest_user.id %>"></div>


<%= content_for(:after_js) do %>
  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).attr('placeholder')).select();
      document.execCommand("copy");
      $temp.remove();
    }
    function clipboardNotice() {
      // remove class hide
      $('#clipboard-notice').removeClass('hide');
    }
  </script>

  <script>
    $('#comment_content').on('keyup', function(event) {
      if (event.which == 13 && ! event.shiftKey) {
          event.preventDefault();
          $("#new_comment").submit();
          $(this).val("");
          }
      });
  </script>

  <script>
    $(window).load(function() {
      scrollLastCommentIntoView();
    });
  </script>

  <script>
    App.cable.subscriptions.create(
      // Subscribe to the channel on UpvoteChannel on channels folder, need choogle_slug param to do it
      {
        channel: 'UpvoteChannel',
        choogle_slug: '<%= @choogle.slug %>'
      },
      {
        // just log the connected channel
        connected: function(data) {
          console.log("<%= "[connected #{@choogle.slug}]" %>");
        },
        // Update the div with the received informations from broadcast method on model
        received: function(data) {
          console.log(data);
          $('#upvote-' + data['proposal_id']).text(data['upvotes']);
          $('#proposal-' + data['proposal_id']).attr('data-order', data['upvotes']);
          if(data['user_id'] == $('.hidden').attr('data-id')) {
            $('#proposal-' + data['proposal_id']).find('.proposal-upvote').toggleClass('strike');
          };
          mixer.sort('order:desc');
        }
      }
    );
  </script>
  <script>
    App.cable.subscriptions.create(
      {
        channel: 'ChatRoomsChannel',
        choogle_slug: '<%= @choogle.slug %>'
      },
      {
        // just log the connected channel
        connected: function(data) {
          console.log("<%= "[connected #{@choogle.slug}]" %>");
        },
        // Update the div with the received informations from broadcast method on model
        received: function(data) {
          console.log(data);
          $('#chatroom').find('.media-list').append(data['message_partial']);
          if (data.current_user_id == <%= current_or_guest_user.id %>) {
            $('#comment_content').val("");
          }
          scrollLastCommentIntoView();
        }
      }
    );
  </script>

  <script>
    // Initialize the mixer for animations of proposals
    var mixer = mixitup('#mixcontainer', {
  	animation: {
      effects: 'fade rotateZ(-180deg)',
      duration: 700
    },
    classNames: {
      elementSort: 'sort-btn'
    },
    selectors: {
      target: '.mix-target'
    },
    behavior: {
      liveSort: true
    }
    });
  </script>
<% end %>
