<!-- Need CSS improvment -->

<div class="date-form">
  <%= simple_form_for(@choogle) do |f| %>
    <div class="form-title-element">
      <%= f.input :title, error: "Your event need a title" , label: "Title of your event", placeholder: "Title of your Choogle" %>
    </div>
    <div class="date-flex">
      <div>
        <%= f.input :happens_at, as: :text, label: "Event's date", placeholder: "Event's date", input_html: { class: 'flatpickr-input form-date-element' } %>
      </div>
      <div>
        <%= f.input :due_at, as: :text, label: "Closing votes date", placeholder: "Closing votes date", input_html: { class: 'flatpickr-input form-date-element' } %>
      </div>
    </div>
</div>
<br>
<br>
<div class="date-form-btn" data-toggle="modal" data-target="#newProposalModal" id="submit-choogle">
    <%= f.button :submit, class: 'btn btn-primary', remote: true  %>
  <% end %>
</div>
