<!-- New Choogle Modal -->
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="wrapper">
      <div class="container">
        <div class="setup1-windows">
          <div class="modal fade" id="newChoogleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-body">
            <h1>Create your <u>Choogle!</u></h1>
                <%= render "choogles/form" %>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- First Proposal Modal -->
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="wrapper">
      <div class="container">
        <div class="setup1-windows">
          <div class="modal fade" id="newProposalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-body">
            <h1>Choose a place!</h1>
                <%= render "shared/first_proposal_form" %>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<!-- Loading Google Places for Autocomplete on New Proposal Modal Form -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%= ENV['GOOGLE_API_BROWSER_KEY']%>"></script>
  <%= javascript_tag do %>
  <!-- Display new choogle form when page is loaded -->
      $(window).on('load',function(){
        $('#newChoogleModal').modal('show');
      });
      $(".date-form").on("submit", function(event) {
        $('#newChoogleModal').hide();
        $('#newProposalModel').modal('show');
<!--         return false; // prevent it from being submitted (errors, etc.) But we want the form to submit, so let's comment this-->
      });
  <% end %>
  <!-- Loading Select2 -->
  <%= javascript_tag do %>
    $(document).ready(function(){
      $("#proposal_tag_ids").select2(
        {
          tags: true,
          theme: "bootstrap",
          maximumInputLength: 20,
        }
      );
    });

  <% end %>
<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).attr('placeholder')).select();
    document.execCommand("copy");
    $temp.remove();
  }
  function clipboardNotice() {
    // remove class hide
    $('#clipboard-notice').removeClass('hide');
  }
</script>
