
<div class="main-container">

  <div class="choogle-container">
    <div class="choogle-infos">
      <h1><%= @choogle.title %></h1>
      <p>Event date : <%= @choogle.happens_at %></p>
      <p>Due date : <%= @choogle.due_at %></p>
      
      <!-- Timer -->
      <p>Time left : </p>
      <div id="timer" data-timer="<%= (@choogle.due_at) %>">
        <%= render "choogles/timer"  %>
      </div>

      <!-- Liens with slug -->

    </div>

    <div class="proposals">
      <div class='proposal-upvote'>
        <div class="proposal-arrow"></div>
        <div class='proposal-count'>95</div>
      </div>
      <div class='proposal-body'>
        <h3>Kudoz</h3>
        <p>Best job offers on your phone</p>
      </div>
      <ul class="list-inline proposal-controls hidden-sm hidden-xs">
        <li><a href=""><i class="fa fa-heart"></i></a></li>
        <li><a href=""><i class="fa fa-share"></i></a></li>
        <li><a href=""><i class="fa fa-star"></i></a></li>
      </ul>
    </div>
  </div>

  <div id="map" class="hidden-xs"></div>
  <%= render "shared/map" %>
</div>
