
<div class="main-container">

  <div class="choogle-container">
    <div class="choogle-infos">

      <div class="choggle-infos-event">
        <h1><%= @choogle.title %></h1>
        <p>Event date : <%= @choogle.happens_at %></p>
      </div>

      <div class="choogle-infos-timer">
        <p>The most upvoted place is elected in : </p>
        <div id="timer" data-timer="<%= (@choogle.due_at) %>">
          <%= render "choogles/timer"  %>
        </div>
      </div>
      
      <div class="choogle-infos-invite">
        <div class="invite-link">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="http://choogle.xyz/<%= @choogle.slug %>" readonly="readonly">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Copy link</button>
            </span>
          </div>

        </div>
      </div>

    </div>

    <% @choogle.proposals.each do |proposal| %>
      <div class="proposal">
        <div class='proposal-upvote'>
          <div class="proposal-arrow"></div>
          <div class='proposal-count'><%= proposal.upvotes %></div>
        </div>
        <div class='proposal-body'>
          <h3><%= proposal.place.name %></h3>
          <p> #Tags to come ... </p>
        </div>
        <ul class="list-inline proposal-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
    <% end %>

    <!-- Emply Proposal add a new one -->
    <%= link_to new_choogle_proposal_path(@choogle) do %>
      <div class="proposal ">
        <div class='proposal-body'>
          <h3>SUGGEST A NEW PLACE TO GO</h3>
        </div>
      </div>
    <% end %>



  </div>

  <div class="map-container hidden-xs">
    <div id="map"></div>
  </div>
  <%= render "shared/map" %>
</div>
